[submodule "src/stereogram"]
	path = src/stereogram
	url = ../stereogram
[submodule "cross/desktop"]
	path = cross/desktop
	url = ../cross-desktop
[submodule "cross/ios"]
	path = cross/ios
	url = ../cross-ios
[submodule "cross/android"]
	path = cross/android
	url = ../cross-android
[submodule "cross/web"]
	path = cross/web
	url = ../cross-web
[submodule "cross/windows"]
	path = cross/windows
	url = ../cross-windows
