[submodule "src/stereogram"]
	path = src/stereogram
	url = ../stereogram
[submodule "cross/core"]
	path = cross/core
	url = ../cross-core
[submodule "cross/desktop"]
	path = cross/desktop
	url = ../cross-desktop
[submodule "cross/ios"]
	path = cross/ios
	url = ../cross-ios
[submodule "cross/android"]
	path = cross/android
	url = ../cross-android
