table
{
    margin-left: auto;
    margin-right: auto;
}

#controls td
{
    text-align: center;
}

#lives > *
{
    margin-left: 2pt;
    margin-right: 2pt;
    width: 1em;
    height: 1em;
    background-image: url("menu/heart.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}

#lives
{
    min-width: 6em;
}

.title
{
    font-size: larger;
    font-weight: bold;
}

button
{
    width: 8em;
}